:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #777e8d;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
  background-color: var(--dark);
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-weight: 300;
  padding: 0.8rem;
  color: white;
  margin-bottom: 1rem;
  background-color: #8a0447;
  width: 50%;
}

#new-task-form {
  display: flex;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-task-input {
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;
}

#new-task-input::placeholder {
  color: var(--grey);
}

#new-task-submit {
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 20px;
  background-color: #8a0447;
  color: white;
  padding: 1rem;
  cursor: pointer;
  transition: 0.4s;
}

#new-task-submit:hover {
  background-color: #ec4899;
  color: var(--darkest);
  transition: 0.7s;
}
main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
}

.task-list h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--grey);
  margin-bottom: 1rem;
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkest);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.task .content {
  flex: 1 1 0%;
}

.task .content .text {
  color: var(--light);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

.task .content .text:not(:read-only) {
  color: var(--pink);
}

.task .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .actions button:hover {
  opacity: 0.7;
}
.task .actions .edit {
  color: #8b5cf6;
}

.task .actions .delete {
  color: crimson;
}
@media screen and (min-width: 350px) and (max-width: 650px) {
  header h1 {
    font-size: 1.8rem;
    font-weight: bold;
    font-weight: 300;
    padding: 0.5rem;
    width: 60%;
  }
  #new-task-input {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    color: var(--light);
    font-size: 0.7rem;
  }
  #new-task-submit {
    font-size: 0.7rem;
    font-weight: 200;
    border-radius: 20px;
    background-color: #8a0447;
    color: white;
    padding: 1rem;
    cursor: pointer;
    transition: 0.4s;
  }
  .task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 0.5rem;
    font-weight: 150;
    text-transform: uppercase;
    transition: 0.4s;
  }
  .task-list h2 {
    font-size: 0.8rem;
    font-weight: 200;
    color: var(--grey);
    margin-bottom: 1rem;
  }
  .task .content .text {
    color: var(--light);
    font-size: 0.5rem;
    width: 80%;
    display: block;
    transition: 0.4s;
  }
  #tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
